<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">Experimental demos</a>
		</div>

		<ul class="nav navbar-nav">
			<li dropdown>
				<a href dropdownToggle (click)="false">Service related demos</a>
				<ul *dropdownMenu class="dropdown-menu">
					<li>
						<a class="dropdown-item" routerLink="/synced-priority-service">Synchronous priority task runner</a>
					</li>
					<li>
						<a class="dropdown-item" routerLink="/blocking-service-request">Blocking service with observables</a>
					</li>
					<li>
						<a class="dropdown-item" routerLink="/tab-sync">Shared data between multiple browser tabs</a>
					</li>
					<li>
						<a class="dropdown-item" routerLink="/abstract-service-with-di">Abstract base service with dependency injection</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>