<div class="row">
	<div class="col-xs-12">
		<h1>Welcome to experimetnal demos!</h1>
		<p>This is a collection of demos related (but not only) to Angular.</p>
		<hr>

		<h1>Service related demos</h1>
		<h2>Blocking service with observables</h2>
		<p>
			This demo show how can various observables evaluted strictly in a linear order.
			<br>
			This can be useful for example to not to allow a second Http request until the first arrives back (or even fails)
			<br>
			Actual solution uses a simple boolean flag to operate as a binary semaphore.
			<br>
			<br>
			<strong>Note:</strong> Open console to see results
			<br>
			<button class="btn btn-primary" routerLink="/blocking-service-request">Open demo</button>
		</p>
		<hr>
		<h2>Shared data between multiple browser tabs</h2>
		<p>
			This demo show how can sync a model between multiple tabs of a single browser through local storage.
			<br>
			<strong>Note:</strong> Open multiple tabs since sync works beetween them.
			<br>
			<button class="btn btn-primary" routerLink="/tab-sync">Open demo</button>

		</p>
		<hr>
	</div>
</div>